


.product_detail_section img{
    width: 100%;
    display: block;
}
.product_detail_section .img-display{
    overflow: hidden;
}
.product_detail_section .img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.product_detail_section .img-showcase img{
    min-width: 100%;
}
.product_detail_section .img-select{
    display: flex;
}
.product_detail_section .img-item{
    margin: 0.3rem;
}
.product_detail_section .img-item:nth-child(1),
.product_detail_section .img-item:nth-child(2),
.product_detail_section .img-item:nth-child(3){
    margin-right: 0;
}
.product_detail_section .img-select .img-item:first-child {
	margin-left: 0;
}
.product_detail_section .img-item:hover{
    opacity: 0.8;
}
.img-item a img {
	/*height: 98px;
	width: 107px;*/
	object-fit: cover;
}
.product-detais .product_heading {
	font-size: 27px;
	font-weight: bold;
}
.product_detail_section .order_now {
	width: 100%;
	height: 45px;
	border-radius: 5px;
	background: #33b0ba;
	color: #fff;
	border: 0;
	margin: 23px 0;
	font-weight: bold;
}


.product_detail_section .product_header_title {
	background: rgb(63, 63, 63);
	border-radius: 15px;
	text-align: center;
	color: #fff;
	margin: 94px auto 30px;
	padding: 12px;
}
.product_detail_section .product_card_inner figure img {
	height: 250px;
	width: 100%;
	object-fit: cover;
}
.product_list_section {
	margin: 100px 0;
}
.product_list_section .product_heading {
	font-size: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.product_header_title {
	background: rgb(63, 63, 63);
	text-align: center;
	padding: 20px;
	border-radius: 15px;
	margin-bottom: 30px;
	color: #fff;
}
.product_heading {
	font-size: 18px;
	/*font-weight: bold;*/
}
.price_count {
	color: #33b0ba;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 0rem;
}
 .product_card_inner {
	border: 1px #ddd solid;
	padding: 10px;
	box-shadow: 4px 7px 10px #ddd;
	margin-bottom: 15px;
}	
 .prodct_title {
	font-size: 1rem;
}
.product_detail_section .price_count {
	color: #33b0ba;
	font-size: 1rem;
	font-weight: bold;
}
.product_detail_section .product_accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f068";
    float: right; 
	font-size: 11px;
	color: black;
}
.product_detail_section .product_accordion .card-header.collapsed::after {
	content: "\f067";
	font-size: 11px;
	color: black;
}
.product_accordion .card-header {
	padding: 0.6rem 0.6rem;
	margin-bottom: 0;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
}
.product_detail_section .product_accordion {
	margin: 40px 0;
}
.product_detail_section {
	margin: 100px 0;
}
.product_detail_section .product_accordion h3 {
	font-size: 22px;
	margin-bottom: 20px;
}
.product_detail_section .product_accordion h3 {
	font-size: 22px;
}
.product_detail_section .product_accordion .card-title {
	color: #33b0ba;
	font-size: 0.9rem;
	font-weight: 600;
}



.payment-title {
    width: 100%;
    text-align:left;
}
.product_payment_cards .payment-title h3 {
	font-weight: bold;
	margin-bottom: 18px;
}


.product_payment_cards .field-container input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.product_payment_cards .field-container {
	position: relative;
	margin-bottom: 10px;
}
.product_payment_cards #applynow {
	background: #33b0ba;
	color: #fff;
	border-color: #33b0ba;
	font-weight: bold;
}
.product_payment_cards .form-container {
	
	color: #707070;
}


.product_payment_cards input {
	margin-top: 3px;
	padding: 15px;
	font-size: 16px;
	width: 100%;
	border-radius: 3px;
	border: 1px solid #dcdcdc;
	height: 45px;
	line-height: 14px;
}
.product_card_inner figure a img {
	/*height: 250px;*/
	object-fit: cover;
}
.brand-box img {
    height: 45px;
    padding: 5px;
    margin-bottom: 5px;
    object-fit: contain;
    /* border: 2px solid #000; */
    width: 100%;
}
.brand h3 {
    color: #3c3c3b;
    font-size: 1rem;
}






















@media screen and (min-width: 992px){
	.product_payment_cards .form-container {
	padding: 0px 40px;
	color: #707070;
}
.product_detail_section .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product_detail_section .product-content{
        padding-top: 0;
    }
	.product_detail_section .product_thumnail_slider {
	padding-left: 50px;
}
	
}
@media screen and (max-width:767px){
	.product_heading {
	font-size: 23px;
}
	.product_payment_cards .payment-title h3 {
	font-size: 21px;
}
.order_two {
	order: 2;
}
}
