@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/assets/fonts/montserrat-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --bs-font-sans-serif: "Montserrat", system-ui, -apple-system,
    "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans",
    "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

[x-cloak] {display:none !important}


.bg-primary-gradient {
    background-image: linear-gradient(135deg, #18a7a7, #6a7bd0, #e12ad7);
}
.clip-ellipse-bottom {
  clip-path: ellipse(58% 100% at 50% 0%);
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.btn-gradient {
    position: relative;
    border: 2px solid transparent;
    animation: rotate 3s linear infinite;
    background: linear-gradient(#fff, #fff) padding-box,
        conic-gradient(from var(--angle), #18a7a7, #6a7bd0, #e12ad7, #18a7a7) border-box;
}
.btn.btn-gradient:active {
    border-color: transparent;
}
@keyframes rotate {
  to { --angle: 360deg; }
}



#menu-offcanvas,
#user-offcanvas {
    --bs-offcanvas-width: 300px;
}

#menu-offcanvas .list-group,
#user-offcanvas .list-group {
    --bs-list-group-active-bg: #33b0ba;
    --bs-list-group-active-border-color: #1e868f;
}

.site-main::before {
    content: "";
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 125px;
    position: absolute;
    display: inline-block;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgb(255, 255, 255) 100%),
    linear-gradient(to right, #cfe9e8, #e7cfe6);
}

.top-0 {top:0}
.left-0 {left:0}
.right-0 {right:0}
.bottom-0 {bottom:0}
.cursor-pointer {cursor:pointer}
.font-weight-semibold {font-weight:600}
.rounded-3 {border-radius:0.5rem !important}
.shadow-md {box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px}