header.topnav {
    top: 0;
    position: relative;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

@media(max-width: 575.98px) {
    header.topnav .row .col-12.logo {
        top: -37px;
    }
    header.topnav .row .menu-btn1 {
        top: 5px;
    }
    header.topnav .row .menu-btn2 {
        top: 5px;
        position: relative;
    }
}

@media(min-width: 576px) {
    header.topnav .row .col-12.logo {
        margin-top: 12px;
        margin-bottom: 7px;
    }
    header.topnav .row .menu-btn1 {
        margin-top: 5px;
    }
    header.topnav .row .menu-btn2 {
        margin-top: 5px;
    }
}
