#my-map-container {
    height: 450px;
}

#my-data-container {
    min-height: 225px;
    max-height: 450px;
}

[data-css="benefit-card-icon-box"] {
    padding: 4px;
    background: linear-gradient(135deg, #18a7a7, #6a7bd0, #e12ad7);
}

[data-css="faq-btn"]:focus {
    outline: none;
}

[data-css="map-input-example"] {
    color: #777777;
    font-size: 14px;
    line-height: 1.25;
}
[data-css="map-input-example"]::before {
    content: "";
    width: 16px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='%23777777' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0'/%3E%3Ccircle cx='12' cy='10' r='3'/%3E%3C/svg%3E");
}

[data-css="map-place-suggestion"]:hover {
    background-color: #f0feff;
}

[data-css="slots-container"] {
    background:
    /* Shadow Cover TOP */
    linear-gradient(
      white 30%,
      rgba(255, 255, 255, 0)
    ) center top,

    /* Shadow Cover BOTTOM */
    linear-gradient(
      rgba(255, 255, 255, 0),
      white 70%
    ) center bottom,

    /* Shadow TOP */
    radial-gradient(
      farthest-side at 50% 0,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ) center top,

    /* Shadow BOTTOM */
    radial-gradient(
      farthest-side at 50% 100%,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ) center bottom;
    overflow-y: auto;
    background-repeat: no-repeat;
    background-attachment: local, local, scroll, scroll;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
}


@media(max-width: 575.98px) {
    [data-css="data-col"] {
        position: absolute;
    }
    [data-css="drafts-container"] {
        z-index: 2;
        position: fixed;
        box-shadow: rgba(0, 0, 0, 0.1) 0px -10px 15px -3px, rgba(0, 0, 0, 0.05) 0px -4px 6px -2px;
    }
}
@media(min-width: 576px) {
    [data-css="drafts-container"] {
        border-radius: 0.5rem;
    }
}
