.StripeElement {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid #000000;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement#card-number {
    border: 0;
    padding: 10px 0;
    width: 90%;
    display: inline-block;
    float: left;
    box-shadow: none;
}

.card-field .brand {
    float: right;
    padding-top: 10px;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.verify-form .StripeElement {
    border-color: #ced4da !important;
}
#order_form .StripeElement {
    border: 1px solid #dcdcdc !important;
    width: 96.2%;
    margin: 0 auto 8px;
    box-shadow:none;
}

.verify-form .card-field {
    border: 1px solid #ced4da;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}